name: Publish to NPM

on:
  release:
    types: [published]
  # Hoặc dùng dòng dưới nếu muốn cứ push vào main là publish luôn (dành cho dev một mình)
  # push:
  #   branches:
  #     - main

permissions:
  contents: read
  id-token: write # Quan trọng: Dòng này cho phép GitHub kết nối với npm

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      
      - run: npm ci
      
      # Lệnh publish (không cần token vì đã dùng Trusted Publisher)
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} 
          # Lưu ý: Với Trusted Publisher, npm sẽ tự hiểu, nhưng cần setup đúng permission id-token